* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
  
/* General styles */
body {
	background-color: #daf3f3;
	font-family: 'Trebuchet MS', 'Montserrat', sans-serif;
	font-size: 22px;
	margin: 0;
	padding: 0;
}
  
#content {
	max-width: 1600px;
	margin: 0 auto;
	padding-top: 0;
}
  
/* Header styles */
header {
	margin-bottom: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: #F05323;
	margin-bottom: 0;
}
  
#logo_link {
	display: flex;
	align-items: center;
}
  
.logo {
	width: 80px;
}
  
.nav-toggle {
	display: none;
	flex-direction: column;
	cursor: pointer;
	margin-right: 20px;
}
  
.nav-toggle span {
	width: 25px;
	height: 3px;
	background: #333;
	margin: 4px 0;
}
  
nav {
	display: flex;
	gap: 20px;
}
  
nav a {
	text-decoration: none;
	color: black;
	padding: 10px;
}
  
nav a:hover {
	background-color: #e76915;
	color: white;
}

/* Styles for active navigation menu */
nav.active {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: #f5b88f;
  }
  
  nav.active a {
	display: block;
	padding: 15px;
	text-align: center;
	background-color: #f5b88f;
	color: black;
  }
  
  nav.active a:hover {
	background-color: #e76915;
  }
  
main {
	padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px; /* Add space above the main content */
    margin-bottom: 40px; /* Add space below the main content */
    max-width: 600px; /* Set maximum width for the main container */
    width: 100%; /* Ensure the container is responsive */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    margin-left: auto; /* Center the container horizontally */
    margin-right: auto; /* Center the container horizontally */
}

h1 {
	margin-bottom: 20px;
    font-size: 2rem;
    color: #333333;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label.top {
    font-size: 1rem;
    font-weight: bold;
    color: #3e5c88;
}

input,
textarea,
select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 1rem;
	max-width: 100%; /* Ensure inputs don't exceed the form width */
}

input::placeholder {
    color: #999999;
}

button {
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #F05323;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
	max-width: 100%; /* Ensure button doesn't exceed the form width */
}

button:hover {
    background-color: #e76915;
}

.smaller {
    font-size: 0.875rem;
    color: #555555;
    margin-bottom: 10px;
    text-align: right;
}

#formmessage {
    visibility: hidden;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #d4d4d4;
    background-color: #f9f9f9;
    color: #333333;
    border-radius: 4px;
}

#formmessage.show {
    visibility: visible;
}

#password2.invalid {
    background-color: #ffe6e6;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #F05323;
    box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
}
  
/* Footer styles */
footer {
	background-color: #00937A;
	padding: 25px;
	text-align: center;
	color: black;
}
  
footer p {
	margin: 10px 0;
}
  
.social {
	display: inline-block;
	margin: 0 10px;
	text-decoration: none;
}
  
.social a {
	margin: 0 10px;
}
  
.social img {
	width: 50px;
	transition: transform 0.2s;
}
  
.social a:hover img {
	transform: scale(1.2);
}
  
.footer-img {
	width: 30px;
}
  
/* Responsive styles */
@media (max-width: 768px) {
	.nav-toggle {
	  display: flex;
	}
  
	nav {
	  display: none;
	  flex-direction: column;
	  width: 100%;
	}
  
	nav a {
	  display: block;
	  padding: 15px;
	  text-align: center;
	  background-color: #f5b88f;
	  color: black;
	}
  
	nav a:hover {
	  background-color: #e76915;
	}
  
	#hero {
	  margin-top: 0;
	}
  
	.home-title {
	  font-size: 1.5em;
	}
  
	.book {
	  font-size: 1em;
	}
}
  
@media (max-width: 480px) {
	.nav-toggle {
	  margin-right: 10px;
	}
  
	.logo {
	  width: 60px;
	}
  
	.home-title {
	  font-size: 1.2em;
	}
  
	.book {
	  font-size: 0.9em;
	  padding: 10px 20px;
	}
  
	.social img {
	  width: 25px;
	}
}